.button {
        -fx-background-color: #dc143c;
        -fx-text-fill: #ffffff;
        -fx-font-weight: bold;
        -fx-background-radius: 16px;
}

.button:hover {
        -fx-background-color: #ffffff;
        -fx-text-fill: #dc143c;
}

 #save-button {
         -fx-alignment: bottom-center;
 }

.menu-button {
         -fx-background-color: #dc143c;
         -fx-font-weight: bold;
         -fx-background-radius: 16px;
 }

.menu-button .label {
         -fx-text-fill: #ffffff;
 }

 .menu-item .label {
        -fx-text-fill: #dc143c;
 }

.menu-item:focused {
        -fx-background-color: #dc143c;
}

.menu-item:focused  .label {
        -fx-text-fill: ffffff;
}

.root {
        -fx-background-color: #87cefa;
}

.popup {
        -fx-background-color: #dc143c;
}

.text-field {
        -fx-prompt-text-fill: #ff6666;
}

#timer{
        -fx-padding: 8 0 0 750;
}